<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div class="container">
            <h1>Blog</h1>
	    <input class="form-control" placeholder="title"/>
	    <textarea class="form-control" placeholder="body"></textarea>
	    <button class="btn btn-primary btn-block">Post</button>
        </div>
</body>
</html>
